@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    background-image: url(../img/fondo-js3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.carousel-inner {
    max-height: 50rem;
}

.card-h {
    max-height: 10rem;    
}

.banner-copy {
    background-image: url(../img/banner-js-footer.jpg);
}

.banner-copy h3 {
    font-size: 3rem;
}