@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    background-image: url(../img/fondo-js3.png); 
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.carousel-inner {
    max-height: 50rem;
}

.card-h {
    max-height: 10rem;    
}

.banner-copy {
    background-image: url(../img/banner-js-footer.jpg);
}

.banner-copy h3 {
    font-size: 3rem;
}

.navBar {
    display: none;
}

.caja {
    width: 300px;
    height: 300px;
    border: solid 1px black;
}

.claro {
    background-color: rgb(214, 214, 51);
}

.dark {
    background-color: rgb(138, 222, 233);
}

/* carrito de compras */

.container-carritoDeCompras {
    width: 50rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
    background-color: rgb(117, 224, 238);
    border-radius: .5rem;
    box-shadow: 0 10px 20px black;
}


/* login */


.pantalla-login {
    margin: 400px auto;
}


/* contacto */

.container-contacto {
    display: flex;
    flex-direction: column;
    margin: 200px auto;
}

.login-title {
    margin: 40px auto;
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 100px auto;
}

.icon-cart {
    background-color: grey;
    display: flex;
}

.material-icons{
    color: aliceblue;
    width: 40px;
    height: 40px;
}